.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input {
  padding: 10rem 2rem;
  margin-bottom: 2rem;
}

.field {
  margin-right: 2rem;
}
